* {
    box-sizing: border-box;
}

body {
    max-width: 50%;
    margin: 1vw auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    background: #8cdec15e;
    /* padding: 1rem; */
   /* overflow-y: hidden; */
} 



h1 {
    font-size: 5rem;
    color: rgb(8, 88, 88);
    border-bottom: 0.2rem solid #8cdec15e;
    margin: 0;
}


.mems__container {
    /* max-width: 70%; */
    cursor: pointer;
    transition: all .2s ease-out;
}

.mem__container {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    cursor: pointer;
    border-bottom: 0.2rem solid #8cdec15e;
    transition: all .2s ease-out;
}

.mem__title {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 3% 0;
    transition: all .2s ease-out;
}

p {
    margin: 0;
}

.img-button {
    width: 2rem;
    height: 2rem;
    /* background: #8cdec15e; */
    background: url(./icon/buttonBottom.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* display: none; */
    display: block;
    visibility: hidden;
   border: none;
}


.mem__input {
    height: 0;
    width: 0;
    appearance: none;
    -webkit-appearance: none;
    transition: .2s ;
}

/* .img__container {
   
} */
.img-mem {
    width: 100%;
    display: none;
    padding: 2rem 20%;
}

/* -----------Active---accordion-------------/*/

.mem__input:checked~.img-mem {
    display: block;
    transition: all .2s ease-out;
}

.mem__input:hover ~.img-mem, .img-mem:hover, .mem__container:hover, .mem__input:hover {
    display: flex;
    transition: .2s ;
}


.mems__container:hover .mem__container label .img-button {
    visibility: visible;
}



/* .mem__container:hover label .img-mem {
    display: block;
    transition: all .2s ease-out;
} */




.mem__container:hover label .img-button { 
    background: url(./icon/buttonUp.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all .2s ease-out; 
}

/* .mems__container:hover + .img-button {
   display: block;
   transition: all .2s ease-out;
} */