* {
    box-sizing: border-box;
}

body {
    max-width: 50%;
    margin: 1vw auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    background: #8cdec15e;
    transition: .7s;
}

h1 {
    font-size: 5rem;
    color: rgb(8, 88, 88);
    border-bottom: 0.2rem solid #8cdec15e;
    margin: 0;
}


.mems__container {
    max-width: 100%;
    cursor: pointer;
}

.mem__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    cursor: pointer;
    border-bottom: 0.2rem solid #8cdec15e;
    height: 20%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mem__label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all .2s ease-out;
}

.mem__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 3% 0;
    transition: all .2s ease-out;
}

p {
    margin: 0;
    padding: 0 1rem;
    max-width: 90%;
    font-size: 3vw;
}

.mem__input {
    height: 0;
    width: 0;
    appearance: none;
    -webkit-appearance: none;
    transition: .7s;
}

.img-button {
    width: 3vw;
    height: 3vw;
    background: url(./icon/buttonBottom.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    visibility: hidden;
    border: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.img__container {
    display: flex;
    justify-content: center;
}

.img-mem {
    width: 0rem;
    display: block;
    height: 0rem;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/* -----------Active---accordion-------------/*/

.mem__input:checked~label .img-mem {
    width: 35rem;
    height: 30rem;
}


.mem__container:hover label .img-mem {
    width: 35rem;
    height: 30rem;
}

.mem__container:hover {
    height: 100%;
    overflow: visible;
}

.mems__container:hover .mem__container:hover label .mem__title .img-button {
    background: url(./icon/buttonUp.svg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.mems__container:hover .mem__container label .mem__title .img-button {
    visibility: visible;
}